body {
    background-image: url('i11.jpg');
     background-repeat: no-repeat; 
     background-size: cover; 
     background-position: center center;
     font-family: monospace;

      /* text-align: center;  */
 } 


.info {
     max-width: 750px; 
     margin: auto;     
     padding-top: 160px; 
     white-space: nowrap;  
     font-size: 0;
     /* text-align: justify; */
     /* position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0; */
}

.info-colon {
    white-space: normal;
    display: inline-block;
    width: 48%;
    vertical-align: top;   
    margin-right: 5%; 
    font-size: 14px;
    margin-bottom: 5%; 
    }


   h2 {
    position: absolute; 
    top: 125px; 
    column-span: all; 
     }     

 /* .avatar {
    width: 150px;
    border-radius: 10px; 
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
} */

.border-1 {
    border-left: 1px solid #ddd;
    padding-left: 14px;
    line-height: 14px;
      
}

 .border-2 {
    border-left: 1px solid #ddd;
    padding-left: 14px;
    line-height: 20px; 
    text-indent: 10%;
} 
 
ul {
    list-style-image: url("Галочка4.png");
}

h3 {
   background-color: rgb(136, 199, 136);
}

.info-colon hr {
    margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 2px dashed #ddd;
}
